@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.typicalWrapper::after {
  content: '|';
  color: #eb2754;
  animation: blink 1s infinite step-start;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-underline {
  background-image: linear-gradient(#33333300, #33333300), linear-gradient(to right, #eb2754, #fdeeee);
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
}

@media (prefers-reduced-motion: no-preference) {
  .animated-underline {
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
}

.animated-underline:hover,
.animated-underline:focus-visible,
.project-card:hover .animated-underline,
.project-card:focus-visible .animated-underline {
  background-size: 0 2px, 100% 2px;
}

.link {
  color: #eb2754;
}
