.foreignObj .content {
  font-family: Helvetica, Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eb2754;
  text-transform: uppercase;
}

.foreignObj svg {
  margin: 0 5px;
}
